@{
    ViewData["Title"] = "Equipos";
}
<div class="text-center">
    <div class="row mb-4">
        <p class="fuente titulo">Equipos y Pokemon</p>
    </div>
</div>

    <div class="row mb-4">
        <p class="fuente subtitulo">Equipos:</p>
    </div>

    

    <div class="row">

        <div class="col-12 fondoGris">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fuente2">Id</th>
                        <th class="fuente2">Nombre del equipo</th>
                        <th class="fuente2">Fecha de creación</th>
                        <th class="fuente2">Pokemones</th>
                        <th class="fuente2">Asignar Pokemón</th>
                        <th class="fuente2">Modificar nombre</th>
                        <th class="fuente2">Eliminar equipo</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(Equipo item in ViewBag.ListaEquipos)
                    {
                        <tr>
                            <td class="fuente2">@item.IdEquipo</td>
                            <td class="fuente2">@item.NombreEquipo</td>
                            <td class="fuente2">@item.FechaCreacion</td>
                            <td><a href='@Url.Action("PokemonesDelEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-secondary fuente2" >Pokemones</a></td>
                            <!--<td><a href='@Url.Action("PokemonesDelEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-warning fuente2" data-toggle="modal" data-target="#modalPokemon" onclick="MostrarPokemon(@item.IdEquipo)">Pokemones</a></td>-->
                            <td><a href='@Url.Action("AsignarPokemon","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-secondary fuente2">Asignar</a></td>
                            <td><a href='@Url.Action("ModificarEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-secondary fuente2">Modificar</a></td>
                            <td><a href='@Url.Action("EliminarEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-danger fuente2">Eliminar</a></td>
                        </tr>
                    }
                </tbody>
            </table>                 
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="text-center">
            <a href='@Url.Action("CrearEquipo","Home")' class="fuente2 btn btn-secondary btn-lg">Agregar un Equipo</a>
        </div>
    </div>


    <div class="row mb-4">
        <p class="fuente subtitulo">Pokemon:</p>
    </div>

    <div class="row">

        <div class="col-12 fondoGris">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fuente2">Id</th>
                        <th class="fuente2">Nombre</th>
                        <th class="fuente2">Imagen</th>
                        <th class="fuente2">Ver más</th>
                        <th class="fuente2">Modificar Pokemón</th>
                        <th class="fuente2">Eliminar Pokemón</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(MiPokemon item in ViewBag.ListaPokemon)
                    {
                        <tr>
                            <td class="fuente2">@item.IdMiPokemon</td>
                            <td class="fuente2">@item.Nombre</td>
                            <td><img class="imgSize" src="/Imagenes/@item.Imagen"></td>
                            <td><button type="button" class="btn btn-secondary fuente2" data-toggle="modal" data-target="#ModalPokemon" onclick="VerMasInfoPokemon(@item.IdMiPokemon)">Información</button></td>
                            <td><a href='@Url.Action("ModificarPokemon","Home", new{IdMiPokemon=item.IdMiPokemon})' class="btn btn-secondary fuente2">Modificar</a></td>
                            <td><a href='@Url.Action("EliminarPokemon","Home", new{IdMiPokemon=item.IdMiPokemon})' class="btn btn-danger fuente2">Eliminar</a></td>
                        </tr>
                    }
                </tbody>
            </table>                 
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="text-center">
            <a href='@Url.Action("CrearPokemon","Home")' class="fuente2 btn btn-secondary btn-lg">Agregar un Pokemon</a>
        </div>
    </div>
</div>

<!--Modal Mostrar un pokemón-->

<div class="modal fade mostrarModal" id="ModalPokemon" tabindex="-1" aria-labelledbye="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="NombrePokemon"></div>
                <button id="cross" type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#ModalPokemon').modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid" id="FotoPokemon"></div>
                <div id="Tipo1"></div>
                <div id="Tipo2"></div>
                <div id="Hp"></div>
                <div id="Atack"></div>
                <div id="Defence"></div>
                <div id="SpA"></div>
                <div id="SpD"></div>
                <div id="Speed"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cerrar" data-dismiss="modal" onclick="$('#ModalPokemon').modal('hide')">Cerrar</button>
            </div>
        </div>
    </div>
</div>

