@{
    ViewData["Title"] = "Equipos";
}
<div class="text-center">
    <div class="row mb-4">
        <p class="fuente titulo">Equipos y Pokemon</p>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <div class="text-center">
                <a href='@Url.Action("CrearEquipo","Home")' class="fuente btn btn-warning btn-lg">Agregar un Equipo</a>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <a href='@Url.Action("CrearPokemon","Home")' class="negro fuente btn btn-warning btn-lg">Agregar un Pokemon</a>
            </div>
        </div>      
    </div>

    <div class="row">

        <div class="col-12 fondoAzul">
            <table class="table">
                <thead>
                    <tr>
                    <th class="fuente2">Id</th>
                    <th class="fuente2">Nombre del equipo</th>
                    <th class="fuente2">Fecha de creación</th>
                    <th class="fuente2">Asignar Pokemón</th>
                    <th class="fuente2">Modificar nombre</th>
                    <th class="fuente2">Eliminar equipo</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(Equipo item in ViewBag.ListaEquipos)
                    {
                        <tr>
                            <td class="fuente2">@item.IdEquipo</td>
                            <td class="fuente2">@item.NombreEquipo</td>
                            <td class="fuente2">@item.FechaCreacion</td>
                            <td><a href='@Url.Action("AsignarPokemon","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-warning fuente2">Asignar Pokemón</a></td>
                            <td><a href='@Url.Action("ModificarEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-warning fuente2">Modificar nombre</a></td>
                            <td><a href='@Url.Action("EliminarEquipo","Home", new{IdEquipo=item.IdEquipo})' class="btn btn-danger fuente2">Eliminar</a></td>
                        </tr>
                    }
                </tbody>
            </table>                 
        </div>
    </div>
 

</div>
