@{
    ViewData["Title"] = "Modificar Pokemon";
}
<div class="text-center">
    <p class="fuente titulo">Modificar Pokemón</p>
    <div class="login-box">

        <form action='@Url.Action("CambiarPokemon", "Home")' method="Post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="IdMiPokemon" value="@ViewBag.IdMiPokemon"> 
        <div class = "row">
            <div class="col-6">
                <div class="user-box">
                    <input type="text" name="Nombre" value="@ViewBag.Poke.Nombre" required autocomplete="off">
                    <label>Nuevo nombre</label>
                </div>
                <div class="user-box">
                    <input type="file" name="Imagen" value="@ViewBag.Poke.Imagen" required autocomplete="off">
                </div>
                <div class="user-box">
                    <input type="text" name="Tipo1" value="@ViewBag.Poke.Tipo1" required autocomplete="off">
                    <label>Nuevo tipo 1</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Tipo2" value="@ViewBag.Poke.Tipo2" required autocomplete="off">
                    <label>Nuevo tipo 2</label>
                </div>
                <div class="user-box">
                    <input type="number" max="255" min="0" name="Hp" value="@ViewBag.Poke.Hp" required autocomplete="off">
                    <label>Nueva vida</label>
                </div>
            </div>
            <div class="col-6">
                <div class="user-box">
                    <input type="number" max="255" min="0" name="Attack" value="@ViewBag.Poke.Attack" required autocomplete="off">
                    <label>Nuevo ataque</label>
                </div>
                <div class="user-box">
                    <input type="number" max="255" min="0" name="Defence" value="@ViewBag.Poke.Defence" required autocomplete="off">
                    <label>Nueva defensa</label>
                </div>
                <div class="user-box">
                    <input type="number" max="255" min="0" name="SpA" value="@ViewBag.Poke.SpA" required autocomplete="off">
                    <label>Nueva velocidad de ataque</label>
                </div>
                <div class="user-box">
                    <input type="number" max="255" min="0" name="Spd" value="@ViewBag.Poke.SpD" required autocomplete="off">
                    <label>Nueva velocidad de defensa</label>
                </div>
                <div class="user-box">
                    <input type="number" max="255" min="0" name="Speed" value="@ViewBag.Poke.Speed" required autocomplete="off">
                    <label>Nueva velocidad</label>
                </div>
            </div>
        </div>
            <input class="form-control" type="hidden" name="IdMiPokemon" value="@ViewBag.IdMiPokemon">  
            <button type="submit" class="fuente2 btn btn-secondary btn-lg mt-4">Guardar</button>
        </form>
    </div>
</div>